<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.LetsGym">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo__2_"
        android:label="Let's Gym"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sport_Good">
        <activity
            android:name="com.example.LetsGym.SetDevice"
            android:exported="false" />
        <activity
            android:name="com.example.LetsGym.BasicInformation"
            android:exported="false" />
        <activity
            android:name="com.example.LetsGym.MenuActivity"
            android:exported="false" />
        <activity
            android:name="com.example.LetsGym.ConditionMenu"
            android:exported="false" />
        <activity
            android:name="com.example.LetsGym.LetsGymMenu"
            android:exported="false" />
        <activity
            android:name="com.example.LetsGym.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>